
.container {
  margin-top: 4rem;
}

.search-results {
  display: flex;
  align-items: top;
  justify-content: center;
  min-height: 70%;
  padding-bottom: 10rem;
}

.pager {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;

  button {
    margin-right: 2rem;
  }
}

.app-description {
  font-size: 2rem;
  line-height: 1.1;
  text-align: center;
  margin-top: 3rem;
  padding: 0 8rem;
}

.error {
  color: red;
  font-size: 2rem;
  margin: 2rem;
}